<!DOCTYPE html>
<html>
    <head>
        <title>BashScript</title>
        <link rel="stylesheet" href="static/css/bashStyle.css" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <script type="text/javascript" language="javascript">
            $(document).ready(function() {
                $("#mainInput").on("input", function() {
                    $("#suggestion").replaceWith("Test text");
                });
                $("#mainInput").on("keyup", function() {
                    // $("#suggestion").replaceWith(this.val());
                    if($(this).val() == "") {
                        console.log("here")
                        $("#clear").replaceWith("");
                    }
                });
            });
        </script>
    </head>a
    <body>
        <p id="clear">This should dissapear</p>
        <h1> Bash Script </h1>
        <form id="inputBar" action="/input" autocomplete="off">
            <div>
                <input id ="mainInput" type="text" name="test" placeholder=">"/>
                <input type="submit" value="Submit" />
            </div>
            <div id="suggestion"></div>

        </form>
    </body>
</html>

<!-- <script>
    function loadSuggestions() {

    }
</script> -->
